<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Search User</h1>
    <p>You want to search which user's info?</p>
    <form action="http://localhost:5000/db/showuser" method="post">
      <div class="form-group">
        <p>
          user email: <input class="form-control" name="email" id="email" />
        </p>
      </div>
      <button type="submit" id="button" class="btn btn-primary btn-lg">
        Search
      </button>
    </form>
  </body>
</html>
