<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home Page</title>
  <link rel="stylesheet" type="text/css" href="/jquery-ui-1.12.1/jquery-ui.min.css">
  <link rel="stylesheet" href="/jquery-ui-1.12.1/jquery-ui.structure.css">
  <link rel="stylesheet" href="/jquery-ui-1.12.1/jquery-ui.theme.css">
  <link rel="stylesheet" type="text/css" href="/navFooter.css">
  <link rel="stylesheet" type="text/css" href="/home.css">
</head>

<body>

  <%- include('./components/navBar.ejs'); %>

  <div class="center-container">
    <div class="container ui-corner-right">
      <h1 class="">Home Page</h1>
      <h2>Welcome!</h2>
      <h2>Please Check what you want via Navbar!</h2>
    </div>
  </div>

  <%- include('./components/footer.ejs'); %>

</body>

</html>