<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <h2>Welcome!</h2>
    <div class="hint-text">
      See the overview of infection
      <h2><a id="overview" href="overview">Infection Overview</a></h2>
    </div>
  </body>
</html>
