<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Coronavirus Express</title>
  <link rel="stylesheet" type="text/css" href="/jquery-ui-1.12.1/jquery-ui.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" type="text/css" href="/navFooter.css">
</head>

<body>

  <%- include('./components/navBar.ejs'); %>

  <div class="illustration">
    <svg></svg>
    <div class="passage">
      <p>Confirmed</p>
      <p>Suspected</p>
      <p>Cured</p>
      <p>Dead</p>
      <p>Critical</p>
    </div>

    <div class="timeRange">
      <p>2020-02-01</p>
      <input type="range" step="1" />
      <p>2020-02-13</p>
    </div>
  </div>

  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="data.js"></script>
  <script src="/infectionOverview.js"></script>

  <%- include('./components/footer.ejs'); %>

</body>

</html>