<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News</title>
  <link rel="stylesheet" href="./newsPage.css">
  <link rel="stylesheet" href="/jquery-ui-1.12.1/jquery-ui.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>

<body>
  <header>
    <h1>COVID-19 News</h1>
  </header>

  <div id="container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="0" href="#">Feb.01</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="1" href="#">Feb.02</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="2" href="#">Feb.03</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="3" href="#">Feb.04</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="4" href="#">Feb.05</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="5" href="#">Feb.06</a>
      </li>

    </ul>

    <div class="card">
      <div class="card-body">
        <div id="innerContainer">
          <h4 id="newsTitle"></h4>
          <p id="newsBody"></p>
        </div>
        <img id="newsImage" src="" alt="image">
      </div>
    </div>

  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/jquery-ui-1.12.1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/newsPage.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>