<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News</title>
  <link rel="stylesheet" href="/jquery-ui-1.12.1/jquery-ui.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="./newsPage.css">
  <link rel="stylesheet" href="./navFooter.css">

</head>

<%- include('./components/navBar.ejs'); %>

<body>
  <header>
    <h1 id="newsHeader">COVID-19 News</h1>
    <div id="widgetButton">
      <button type="button" class="btn btn-primary btn-sm" onclick="openMessage()">Open Message</button>
      <button type="button" class="btn btn-primary btn-sm" onclick="closeMessage()">Close Message</button>
    </div>
    <div id="message" title="Recommendated Prevention">
      <ul class="dialogMesg">
        <li>Cover your cough or sneeze with a tissue, then throw the tissue in the trash.</li>
        <li>Wash your hands often with soap and water for at least 20 seconds, especially after going to the bathroom;
          before eating; and after blowing your nose, coughing, or sneezing.</li>
      </ul>
    </div>
  </header>

  <div id="tabs">
    <ul class="nav nav-tabs">
    </ul>
  </div>

  <%- include('./components/footer.ejs'); %>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/jquery-ui-1.12.1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/newsPage.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>