<div class="navbar">
    <ul>
        <li><a href="/overview">Infection Overview</a></li>
        <li><a href="/date_picker">Date Picker</a></li>
        <li><a href="/newspage">Feeds</a></li>
    </ul>
</div>